.content{
    box-sizing: border-box;
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
   
}
    /* Page title*/
    .content .content-header{
        padding: 16px;
        display: flex;
        align-items : center;
    }
        .content .content-header .title {
            font-size: 20px;
            font-weight: bold;
            color: #000000;
        }
        .content .content-header .content-feature {
            position: absolute;
            right: 16px;
        }
        
    /* Filter bar*/
    .content .filter-bar {
        box-sizing: border-box;
        width: 100%;
        padding-left: 16px;
    }
    .content input{
        box-sizing: border-box;
    }
        .content .filter-bar .filter-left{
            position: relative;
            width: calc(100% - 56px);
        }
        .content .filter-bar .filter-select .select-custom .option{
            width: 250px;
            box-sizing: border-box;
        }
        .content .filter-bar .filter-select .icon-input{
            position: relative;
            pointer-events: none;
        }
    /* Paging Bar */
    .content .paging-bar{
        height: 56px;
        margin: 0px 16px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e9ebee;
    }
        .content .paging-bar .display-employee{
            margin-left: 16px;
        }
        .content .paging-bar .max-employee{
            margin-right: 16px;
        }
        .content .paging-bar div{
            float: right;
        }
        .content .paging-bar .paging{
            display: flex;
        }
            .content .paging-bar .paging img{
                padding: 5px;
            }
                .content .paging-bar .paging img:hover{
                    background-color: #ffffff;
                    border-radius: 4px;
                }
            .content .paging-bar .paging .paging-number{
                text-align: center;
                align-self: center;
                padding: 5px;
                border: 1px solid #bbbbbb;
                border-radius: 50% 50%;
                height: 16px;
                width: 16px;
                margin: 0px 5px;
            }
                .content .paging-bar .paging .paging-number:first-of-type{
                    background-color: #019160 ;
                    color: #ffffff;
                }