input{
    padding: 0px 16px;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
}
    input[type=text]:read-only {
        background: #ffffff;
        font-family: GoogleSans-Regular;
        color: rgb(49, 47, 47);
        cursor: pointer;
    }
.icon-container{
    position: absolute;
    height: 95%;
    width: 36px;
    right: 1px;
    top: 1px;
    cursor: pointer;
    border-left: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.input-container{
    display: inline-block;
    position: relative;
}
.input-search {
    padding: 0px 30px;
    padding-left: 40px;
    width: 400px;
    margin-right: 10px;
}
    .input-search:focus{
        border-color: #019160;
    }
.input-currency {
    text-align: right;
    padding-right: 56px;
    box-sizing: border-box;
    width: 304px !important;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../font/GoogleSans-Regular.otf') format('opentype');
}