.content{
    box-sizing: border-box;
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background-color: #ffffff;
}
/* Page title*/
.content .content-header{
    padding: 16px;
    display: flex;
    align-items : center;
}
    .content .content-header .title {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
    }
    .content .content-header .content-feature {
        position: absolute;
        right: 16px;
    }
        
        /* Filter bar*/
        .content .filter-bar {
            box-sizing:border-box;
            width: 100%;
            padding-left: 16px;
        }
            .content .filter-bar .filter-select{
                padding: 10.5px 16px;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
                outline: none;
                margin-right: 16px;

            }
/* Paging Bar */
.content .paging-bar{
    height: 56px;
    margin: 0px 16px;
    display: flex;
}
.content .paging-bar .max-employee{
   
}
.content .paging-bar .display-employee{
    
}