.m-dialog {
    position: relative;
    width: 0;
}
.layout-blur {
    position: relative;
    background-color: #808080;
    width: 0vw;
    height: 100vh;
    opacity: 0.5;
    transition: all 0.3s ease-out;
}
