.button-icon {
    background-image: url('../../icon/add.png');
    background-position: center;
    width: 16px;
    height: 16px;
}
.icon-search {
    background-image: url('../../icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 16px;
}
.rotate-X{
    transform : rotateX(180deg);
    top : 8.31px !important;
}