input{
    padding: 0px 16px;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
}
.input-search {
    padding: 0px 16px;
    padding-left: 40px;
    width: 300px;
    margin-right: 10px;
}
.input-search:focus{
    border-color: #019160;
}