body {
    padding : 0;
    margin: 0;
    font-family: GoogleSans-Regular;
    font-size: 13px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    height: 7px;
	width: 7px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.relative{
    position: relative;
}
.wrong-input {
    position: absolute;
    left: 52px;
    bottom: 44px;
    width: 200px;
    height: 60px;
    background-color: #FF4747;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
}
    .wrong-input:after {
        position: absolute;
        content: "";
        top: 60px;
        left: 94px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #FF4747 transparent transparent transparent;
    }
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../../font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Light';
    src: url('../../font/GoogleSans-Light.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../../font/GoogleSans-Black.otf') format('opentype');
}