.navbar {
    display: block;
    float: left;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
}
    .navbar .logo-site {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 60px;
    }
        .navbar .logo-site .toggle-icon{
            background: url('../../img/toggle.png');
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 12px 10px 12px 16px;
        }
        .navbar .logo-site .misa-logo {
            width: 50%;
            height: 100%;
            background: url('../../img/cukcuk-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    .navbar .navbar-content{
        width: 100%;
    }
        .navbar .navbar-content .navbar-item {
            display: flex;
            margin-left: 16px;
            margin-right: 10px;
            height: 44px;
            line-height: 44px;
        }
        .navbar .navbar-content .navbar-item:hover{
            background-color: #e5e5e5;
            color: #000000;
            cursor: pointer;
        }
        .navbar-item .navbar-item-icon{
            align-self: center;
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
        
    .navbar-item-icon-dashboard{
        background-image: url('../../icon/dashboard.png');
        background-size: contain;
    }
    .navbar-item-icon-report {
        background-image: url('../../icon/report.png');
        background-size: contain;
    }
    .navbar-item-icon-order {
        background-image: url('../../icon/shopping-cart.png');
        background-size: contain;
    }
    .navbar-item-icon-employee {
        background-image: url('../../icon/dic-employee.png');
        background-size: contain;
    }
    .navbar-item-icon-setting {
        background-image: url('../../icon/setting.png');
        background-size: contain;
    }