.select-custom{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    border: none;
    overflow: hidden;
    z-index: 1;
}
    .select-custom.dropup{
        position: absolute;
        bottom: 40px;
    }
    .select-custom .option{
        background-color: #ffffff;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        z-index: 2;
        padding-left: 40px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        width: 270px;
        height: 40px;
    }
        .select-custom .option:first-of-type{
            padding-left: 0px;
        }
        .select-custom .option *{
            display: inline-block;
        }
        .select-custom .option img{
            width: 20px;
            height: 20px;
            margin: 0px 10px;
            display: none;
        }
        .select-custom .option:first-of-type img{
            display: inline-block;
        }
        .select-custom .option:hover {
            background-color: #E9EBEE;
        }
.active-option {
    border-color: #019160 !important;
    background-color: #019160 !important;
    color: #ffffff;
}