.select-custom{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    top: 40.5px;
    padding: 5px 0px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
    .select-custom.dropup{
        position: absolute;
        bottom: 82px;
    }
    .select-custom .option{
        background-color: #ffffff;
        z-index: 2;
        padding-left: 40px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        width: 270px;
        height: 40px;
        cursor: pointer;
    }
        .select-custom .option *{
            display: inline-block;
        }
        .select-custom .option img{
            width: 20px;
            height: 20px;
            margin: 0px 10px;
            display: none;
        }
        .select-custom .option:hover {
            background-color: #E9EBEE;
        }
.active-option {
    border-color: #019160 !important;
    background-color: #019160 !important;
    color: #ffffff;
}