.grid {
    margin: 0px 16px;
    margin-top: 16px;
    box-sizing: border-box;
    height: calc(100vh - 230px);
    overflow: scroll;
    
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th,td{
    border-bottom: 1px solid #bbbbbb;
    padding: 10px;
    height: 48px;
    text-align: center;
}
table tr:nth-child(odd){
    background-color: #e9ebee;
}
table th{
    position: sticky;
    top: 0;
    padding-top: 0px;
    background-color: #ffffff;
}
td:hover tr{
    background-color: #bbbbbb;
}
.edit-icon,.delete-icon{
    align-self: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}